html, a:visited, a:focus, a{
	outline: none;
}
body{
	/*font-family:leandro;*/
	background: #f2f2f2;
	outline:none;
}
span.wpcf7-form-control-wrap {
  position: static;
}
h1{
	/*font-family: 'leandro';*/
	font-weight:bold;
}

.fl{
	float: left;
}

.fr{
	float: right;
}
a{
	color: #333;
}
*:focus{
	outline: none;
}

header{
	border-bottom: 1px solid #f2f2f2;
	height: 90px;
}

ul{
	list-style-type: none;
}

.navbar-nav > li > a {
	/*font-family: leandro;*/
	font-size: 1.2em;
	color: #707173;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

#menu-menu-header .current-menu-item  a,#menu-menu-header .current-menu-ancestor  a {
	text-decoration: none;
background-color: #eee;
}
#menu-menu-header .current-menu-ancestor ul li > a, #menu-menu-header ul li > a{
	background: transparent !important;
  line-height: 1.5;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 5px;
  /*font-family: leandro;*/
}


.navbar-brand > img {
	display: block;
	margin-top: -18px;
}

.navbar-toggle .icon-bar {
	background: #000;
}

.nav > li > a.shop {
	text-decoration: none;
	background-color: #eee;
	margin: 0 1px;
	font-size: 2em;
	padding: 15px;
	position: absolute;
	right: -180px;
}
.nav > li > a.shop:hover,nav > li > a.shop.active  {
	background-color: #666;
	color: #e3e3e3;
}

.sub-menu{
  display: none;
  background: #fff;
  text-align: center;
  width: 130px;
  position: absolute;
  z-index: 10;
}

.sub-menu li{
  list-style-type: none;
  display: block;
  text-align: center;
  margin-left: -37px;
  border-bottom: 1px solid #e3e3e3;
  padding: 18px;
  text-align: left;
}
.sub-menu li:hover{
	background-color: #eee;
}
.menu-item-has-children{
	cursor: pointer;
}
.menu-item-has-children:hover .sub-menu{
	display: block;
}
.colInst{
	height: 318px;
	background: url("../images/img_institucion.png") no-repeat 0 0;
	background-size: cover;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.colInst span{
	font-family:dinpro-light;
}

.colInst h2{
	/*font-family: leandro;*/
	padding: 20px 40px;
	position: absolute;
	left: 25%;
	right: 25%;
	top:25%;
	bottom:25%;
	width: 50%;
}

.icons{
	font-size: 22em;
	position: absolute;
	right: -160px;
	color: #fff;
	top: 0px;
}

.colCurs{
	background:#e3e3e3;
	height: 318px;
}

.colCurs p{
	font-size: 2.625em;
	color: #666;
	font-family: 'dinpro-light';
	position: absolute;
	left: 10%;
	right: 30%;
	top:25%;
	bottom:25%;
	width: 80%;
}

.colCurs .btn{
  position: absolute;
  color: #000;
  /*font-family: 'leandro';*/
  font-size: 1.188em;
  left: 9%;
  right: 30%;
  bottom: 10%;
  width: 50%;
  text-align: left;
}

.colServicios{
	padding: 55px 35px;
	text-align: center;
	height: 318px;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
	cursor: pointer;
}

.colServicios:hover{
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
	-o-box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
	-ms-box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
	background: #333 !important;
	color:#fff;
}
.colServicios:hover a{
	color: #fff;
}
.colServicios .iconS{
	font-size: 4em;
}

.colServicios h2{
  text-transform: uppercase;
  /*font-family: leandro;*/
  font-size: 1.8em;
}
.colServicios p{
	font-family: 'Lato';
	padding-top: 15px;
}
.colServicios:nth-child(odd){
	background: #e3e3e3;
}

.colNews{
	background: #282727;
	height: 636px;
	padding: 0;
	overflow: hidden;
}
.colNews .iconNews{
	font-size: 3em;
	float: left;
	margin-right: 15px;
	vertical-align: TOP;
	line-height: 0.6;
}
.colNews h2{
color: #fff;
  /*font-family: leandro;*/
  text-transform: uppercase;
  font-size: 1.7em;
  padding: 14px 30px;
  vertical-align: TOP;
  line-height: 1;
  width: 82%;
}

.colNews ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
}

.colNews ul li:nth-child(odd){
	background: #
}
.fecha{
	float: left;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	color: #e3e3e3;
	line-height: 1;
}

.colNews li{
	transition:all .3s;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	padding: 15px 15px;
}

.colNews li:hover{
	background: #000;
}

.fecha span{
	font-size: 1em !important;
	text-align: center !important;
}

.fecha p{
	font-size: 3em !important;
	/*font-family: leandro !important;*/
	line-height: 1 !important;
	padding: 0 20px;
}

.news{
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

.news h3{
  font-size: 1.3em;
  text-transform: uppercase;
  vertical-align: top;
  padding: 0;
  line-height: 1.5;
  margin: 0 0 15px;
  color: #fff;
}

.news p{
  color: #e3e3e3;
  font-family: lato;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.875em;
  text-overflow: ellipsis;
  height: auto;
  overflow: hidden;
}
.btn_news{
	color: #fff;
	font-size: 2em;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	padding: 25px 0;
}

.opinion{
	height: 318px;
	background: #fff;
	text-align: center;
	padding: 25px 0;
}
.opinion .name{
  /*font-family: 'leandro';*/
  color: #000;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  line-height: 1;
}

.opinion .cargo{
	font-family: 'lato';
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	text-align: justify;
}

.opinion p{
	padding: 0 74px;
	font-size: 20px;
	font-family: lato;
}

.opinion .carousel{
	height: 318px;
}
.avatar{
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	text-align: center;
	margin: 0 auto 4px;
}

.avatar img{
	width: 100%;
	border-radius: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}

.colCall{
	background: #ffcc00;
	/*font-family: leandro;*/
	height: 318px;
	position: relative;
}

.colCall p{
	padding: 15% 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
}

.colCall p i{
	display: block;
font-size: 2.2em;
color: #fff;
margin-bottom: 9px;
z-index: 9999;
}

.colCall span{
	font-family: 'active';
	font-size: 15em;
	left: 0;
	opacity: .1;
	overflow: hidden;
	position: absolute;
	right: 0%;
	top: -20%;
	width: 100%;
	z-index: 10;
}

.fillBox{
	background: url("../images/img_prueba.png") no-repeat 0 0;
	background-size: cover;
	height: 318px;
}

.newsLetter{
	height: 318px;
	background: #333;
	padding: 15px 25px;
}
.newsLetter h4{
	font-size: 1.5em;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	margin-right: 10px;
	text-transform: uppercase;
	width: 50%;
}
.newsLetter .susicon{
	font-size: 4em;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.newsLetter form{
	margin: 25px 0;
}
.newsLetter input{
	width: 100%;
	border: 0px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
}

.newsLetter button, form button, .btn_active{
	background: #ffcc00;
	border: 0px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	width: 100%;
	text-transform: uppercase;
	/*font-family: 'leandro';*/
	cursor: pointer;
	  font-size: 1.3em;
}

.picoyPlaca{
	padding: 0;
	text-align: center;
}

.titlePico{
	background: #ffc000;
	display: inline-block;
	width: 100%;
	margin: 0 0px 20px 0px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	/*font-family: leandro;*/
	font-size: 1.3em;
}
.picoyPlaca p{
	font-size: 1.2em;
	text-transform: uppercase;
}

.picoyPlaca span{
	/*font-family: leandro;*/
	font-size: 1.2em;
}
.picoNum{
	margin: 20px 0;
	padding: 16px;
}
.default{
	background: #ffc000;
	height: 318px;
	display: inline-block;
}

.certif{
	display: inline-block;
	/*font-family: leandro;*/
	color:#666;
	position: relative;
	background:#fff;
	min-height: 318px;
}

.certif .btn {
	color: #000;
	/*font-family: 'leandro';*/
	font-size: 1.188em;
}

footer{
	background: #333;
	color:#fff;
	overflow: hidden;
	padding: 0;
}

footer >div:first-child{
	padding: 20px;
}

footer .iconFooter{
	display: inline-block;
	font-size: 3.5em;
	width: 25%;

}

footer .contentF{
	display: inline-block;
}
footer .contentF h3{
	text-transform: uppercase;
	font-size: 1.3em;
	line-height: 1;
	/*font-family: leandro;*/
}

footer .contentF p{
	line-height: 1;
	font-weight: 100;
}

footer .menu{
	padding: 0;
}

.endFoot{
	background: #1f1f1f;
	padding: 15px 0;
	text-transform: uppercase;
}
.menu-foot{
	display: block;
	margin: 0;
}

.menu-foot li{
	display: inline-block;
	width: 100px;
	color: #fff;	
}
.menu-foot li a{
	color: #fff;
	font-size: 1.1em;
}

.copyright{
	text-align: right;

}

.listCertif{
	display: inline-block;
}

.listCertif li{
	display: inline-block;
}

.slideProd{
	padding: 0;
}
.container-fluid{
	padding: 0;
}

.slideProd{
	background: #000;
}

.slideProd ul{
	padding: 0;
	height: 625px;
	overflow: hidden;
	margin:0;
}

.slideProd li{
	display: inline-block;
	position: relative;
	z-index: 10;
	padding:0;
	overflow: hidden;
	height: 318px;
}

.slideProd .screen{
	position: absolute;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	z-index: 1;
	height: 30%;
	width: 100%;
	bottom: 0px;
	text-align: center;
		transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
}

.slideProd .screen h2{
	/*font-family: leandro;*/
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;	
}

.slideProd .screen h3{
  /*font-family: leandro;*/
  font-size: 1.4em;
  color: #fff;
  letter-spacing: 1px;
  line-height: 0;
  font-weight: lighter;
}

.slideProd li:hover .screen{
		transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	bottom: 0%;
	background: rgba(0,0,0,0.3);
	height: 100%;
	padding-top: 25%;
	font-size: 120%;
}

.slideProd li img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
	width: 100%;
}

.slideProd li:hover img{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	transform:scale(1.08,1.08);
	-webkit-transform:scale(1.08,1.08);
	-moz-transform:scale(1.08,1.08);
	-o-transform:scale(1.08,1.08);
	-ms-transform:scale(1.08,1.08);
}

.slideProd .carousel-control.right {
	background-repeat: repeat-x;
	background: #333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	left: auto;
	right: 0;
	width: 4%;
}
.slideProd .carousel-control.left {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
	background: #333;
	width: 4%;
}
.slideProd .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	margin-left: -30px;
}

.slideProd .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	margin-right: 0px;
}
.redes{
	text-align: right;
	padding-top: 25px;
}

.redes a{
	color: #fff;
}
.redes a:hover{
	color: #e2e2e2;
}
.redes i{
	display: inline-block;
	font-size: 2rem;
	width: 15%;
	text-align: right;
}

.fullImg{
	/*background: url("../images/img_blog.png") no-repeat 0 0;*/
	background-size: cover;
	height: 320px;
	overflow: hidden;
	padding: 0;
}

.fullImg img{
	width: 100%;
}
.colIzq{
	padding: 0;
}
.colDer{
	padding:0;
	background: #fff;
}
.colDer .colServicios{
	background: #f2f2f2;
}

.titleBlog{
	/*font-family: leandro;*/
	font-size: 36px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #f2f2f2;
	margin-top: -30px;
	padding: 15px 25px;
	overflow: hidden;
}

.about .contentBlog{
	min-height: 698px;
	display: inline-block;
}

.contentBlog{
	margin: 0px 0 30px 0;
}

.contentBlog p{
	padding: 0 25px;
	font-family: 'Lato';
	line-height: 2;
	font-size: 1.2em;
	font-weight: 300;
}

.infog{
	background: url("../images/infography.png") no-repeat 0 0;
	background-size: cover;
	padding: 40px 0;
	margin-top: 25px;
}

.infog > div{
	text-align: center;
	color:#ffcc00;
	font-size: 1em;
	font-family: 'Lato';
	line-height: 1;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

}

.infog h4, .infog i{
	font-size: 3em;
	font-weight: 800;
	-webkit-font-smoothing: antialiased;
}

.contentGral{
	padding: 0;
}

.redesBlog{
	text-align: center;
	padding: 30px 0;
}

.redesBlog i{
	font-size: 1.5em;
	display: inline-block;
}

.redesBlog i:first-child{
	color: #434CA8;
	display: inline-block;
}
.redesBlog .icon-ac_17{
	color: #2AA7F4;
	display: inline-block;
}

.videoWrapper{
	background: #000;
	min-height: 300px;
	margin: 20px 0;
	display: block;
}

.videoWrapper iframe{
	width: 100%;
	height: 320px;
}
.comments{
	margin: 20px 0;
}

.comments h2{
	text-transform: uppercase;
	/*font-family: leandro;*/
	display: inline-block;
	width: 100%;
}

.comments label{
	display: block;
	margin: 15px 0;
}

.comments input{
	display: block;
	background: #e3e3e3;
	width: 70%;
	border: none;
	min-height: 45px;
}

.comments textarea{
	display: block;
	background: #e3e3e3;
	width: 100%;
	border: none;
	min-height: 70px;
}

.dateBlog{
	background: #000;
	position: absolute;
	text-align: center;
	left: 0px;
	top: 25%;
	z-index: 999;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;	
}

.dateBlog .fecha{
	text-align: center;
	overflow: hidden;
	width: 100%;

}

.blogList{
	padding: 0 15px;
	overflow: hidden;
}

.blogList >div{
	padding: 0 15px;
}
.boxBlog h2{
	text-transform: uppercase;
	/*font-family: leandro;*/
	font-size: 1.5em;
	padding: 0 20px;
}
.contentArticle {
	border: 1px solid #f2f2f2;
	padding: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	margin: 0 0 15px 0;
	background: #fff;
	overflow: hidden;
	display: inline-block;
	min-height: 400px;
}
.contentArticle:hover{
	background: #3b3b3b;
}
.contentArticle img{
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	position: relative;
	z-index: 1;
	width: 100%;
}

.contentArticle:hover img{
	transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
-moz-transform:scale(1.1,1.1);
-o-transform:scale(1.1,1.1);
-ms-transform:scale(1.1,1.1);
}

.contentArticle:hover .dateBlog{
	transform:translate(0,-50px);
}

.contentArticle:hover h2, .contentArticle:hover p{
	color:#fff;
}
.boxBlog p{
	font-family: lato;
	font-size: 1em;
	line-height: 2;
	padding: 0 20px;
}

.pagination {
display: inline-block;
padding-left: 0;
margin: 20px 0;
text-align: center;
width: 100%;
padding: 5px 0;

}

.imgBlog{
	position: relative;
}

.sedes{
	padding: 0;
	text-align: center;
}

.sedes .colServicios {
padding: 45px 35px;
text-align: center;
height: 272px;
}

.sedes .colSed.colServicios:hover {
transform: translateY(0px);
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-o-transform: translateY(0px);
-ms-transform: translateY(0px);
box-shadow: 0 0 0 rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
-o-box-shadow: 0 0 0 rgba(0,0,0,0.2);
-ms-box-shadow: 0 0 0 rgba(0,0,0,0.2);
background: #e3e3e3 !important;
color: #333 !important;
}
.sedes .colSed.colServicios:hover a{
	color: #333;	
}
.sedes .colSed.colServicios a:hover{
	text-decoration: underline;
}
.imgSede{
	padding: 0;
	height: 272px;
	overflow: hidden;
}

.imgSede .defautl{
	height: auto;
}

.imgSede img{
	height: 272px;
}
.ban{
	font-size: 5em;
line-height: 1;
vertical-align: middle;
}

.bannerP{
	background:#ffcc00;
	overflow: hidden;
}

.bannerP ul{
	display: inline-block;
}

.bannerP li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.bannerP h2{
	text-transform: uppercase;
	font-family: lato;
	font-size: 2em;
	line-height: 1;
	font-weight: 600;
}
.cursos, .cursos li{
	padding: 0;
}

.cursos li.disabled{
	background: #dddddd;
}
.contentCursos{
	padding: 35px 0;
}

.contentCursos.oculto{
	display: none;
}
.contentCursos p{
	line-height: 1;
	font-size: 1.2em;
}
.titleCat{
	text-align: center;
	padding: 15px 0;
}

.levelCurso{
  background: #282727;
  color: #fff;
  margin-bottom: 30px;
}

.nav-pills.levelCurso > li.active > a, .nav-pills.levelCurso > li.active > a:hover, .nav-pills.levelCurso > li.active > a:focus {
	color: #000;
	background-color: #ffcc00;
}

.nav-pills.levelCurso > li > a {
	font-weight: bold;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
}

.nav > li.disabled > a {
	color: #ccc;
}
.nav > li.disabled:hover > a {
color: #ccc;
}

.nav > li.disabled > a > i{
	color: #ccc;
}

.nav.levelCurso > li > a:hover, .nav.levelCurso > li > a:focus {
	text-decoration: none;
	/*background-color: #ffcc00;*/
	color:#000;
}

.horasTotales{
	background: #fff;
	border:1px solid #e3e3e3;
	overflow: hidden;
	text-align: center;
	padding: 0;
}

.boxBlog .contentArticle{
	min-height: 430px;
}

.numTot{
	border: 5px solid #ffc000;
	overflow: hidden;
	display: inline-block;
	padding: 10px;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	vertical-align: top;
	line-height: 1;
	margin: 10px 0;
}

.numTot h3, .totalCurso h3{
	font-size: 4em;
	/*font-family: leandro;*/
	text-align: center;
	line-height: 1;
}
.totalCurso h3{
	line-height: 0.5;
}

.totNum h3{
	font-size: 35px;
	/*font-family: leandro;*/
	color: #9f9f9f;
	line-height: 0.8;
}

.totNum p{
	font-size: 1em;
	font-family: lato;
	line-height: 0.8;
}

.totalCurso{
	text-align: center;
	margin: 30px 0;
}

.totalCurso p{
	line-height: 0;
	font-family: lato;
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 25px 0 0 -109px;
}

.totalCurso .btn_active {
	background: #ffcc00;
	border: 0px;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 5px;
	width: 100%;
	text-transform: uppercase;
	/*font-family: 'leandro';*/
	display: inline-block;
	width: 60%;
	color: #000;
}

.totalCurso .btn_active:hover{
	text-decoration: none;
}

.downP{
	color: #000;
	text-transform: uppercase;
	font-family: lato;
}

.downP:hover{
	color: #666;
}

.classCurso li a{
	font-family: lato;
	text-transform: uppercase;
	color: #000;
	font-size: 1.2em;
}
.iconCurso{
	color: #000;
	display: block;
	font-size: 1.7em;
}

.nav-pills.classCurso > li.active > a, .nav-pills.classCurso > li.active > a:hover, .nav-pills.classCurso > li.active > a:focus {
	background-color: #ffcc00;
	color: #000;
}

.nav-pills.classCurso > li.active:after{
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 16px solid #ffcc00;
	font-size: 0;
	line-height: 0;
	content: "";
	position: absolute;
	left: 42%;
	bottom: -16px;
}
.contentClass{
	margin: 20px 0;
	display: inline-block;
}
.contentCursos .contentClass{
	width: 100%;
}
.slideClass{
	/*margin: 20px 0;*/
}
.slideClass .item{
	text-align: center;
}

.slideClass .slideHora{
	margin-bottom: 10px;
}
.slideClass h4{
	font-size: 5em;
	/*font-family: leandro;*/
	line-height: 0.7;
}

.slideClass  p{
	width: 60%;
	display: inline-block;
	font-family: lato;
	line-height: 1.5;
	font-size: 1.1em;
}

.slideClass span{
	text-transform: uppercase;
	/*font-family: leandro;*/
	line-height: 1;
}

.inicioReg{
	background: #fff;
	margin: 0 auto 20px ;
	padding: 20px;
	height: 380px;
	overflow: hidden;
}
.inicioReg h2{
	text-transform: uppercase;
	/*font-family: leandro;*/
	text-align: center;
	line-height: 1;
}

.inicioReg p, .inicioReg h4{
text-align: center;
font-family: lato;
margin: 15px 0;
}
.inicioReg label{
	font-family: lato;
	text-transform: uppercase;
	font-size: 0.875em;
	display: block;
	margin: 15px 0;
}
.inicioReg input{
	background: #f2f2f2;
	border: none;
	width: 100%;
	display: block;
	height: 40px;
}
.inicioReg .btn_enviar{
	background: #ffcc00;
	text-transform: uppercase;
	border:none;
	color: #000;
	/*font-family: leandro;*/
}

.iconLog{
color: #ffcc00;
text-align: center;
display: inline-block;
width: 100%;
font-size: 13.3em;
margin-top: 0px;
}

.bannerCar{
	text-align: center;
}

.nav-pills.galCar > li > a, .nav-pills.galCar > li > a:hover, .nav-pills.galCar > li > a:focus {
	color: #000;
	/*font-family: leandro;*/
	text-transform: uppercasefile:///Users/andresrozo/Documents/2014/activecars/html/carros.html#carousel-example-generic;
	font-size: 1.2em;
}
.nav-pills.galCar > li.active > a, .nav-pills.galCar > li.active > a:hover, .nav-pills.galCar > li.active > a:focus {
	color: #000;
	background-color: #ffcc00;
}
.contentCarros{
	overflow: hidden;
	min-height: 500px;
}
.contentCarros.oculto{
	display: none;
}
.contentCarros .item{
	overflow: hidden;
}

.contentCarros .carousel {
    position: relative;
}

.statCar{
	background: #333;
	height: 100%;
	text-align: center;
	padding: 35px 0 0 0;
	box-shadow: -3px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: -3px 0px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: -3px 0px 2px rgba(0,0,0,0.4);
	-o-box-shadow: -3px 0px 2px rgba(0,0,0,0.4);
	-ms-box-shadow: -3px 0px 2px rgba(0,0,0,0.4);
	min-height: 530px;
	position: relative;
	right: -1020px;
	transition:all .5s ease-in;
	-webkit-transition:all .5s ease-in; 
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in;
	-ms-transition:all .5s ease-in;
}

.statCarSingle{
	right: 0;
}

.item.active .statCar{
	position: relative;
	right: 0px;
}

.statCar h2{
	font-size: 48px;
	color: #fff;
	line-height: 0.5;
	text-transform: uppercase;
	text-align: center;
	display: block;	
}

.statCar span{
	text-align: center;
	font-size: 36px;
	font-family: lato;
	color: #fff;
	display: block;
	line-height: 1.2;
}

.statCar .icon:before{
	color: #fff;
	font-family: active;
	font-size: 10em;
	text-align: center;
	display: block;
	line-height: 0.5;
	margin: 15px 0 0 0;
}

.statCar em{
	color: #fff;
	text-transform: uppercase;
	font-family: dinpro;
	font-style: normal;
	letter-spacing: 1px;
}

.ficha{
	display: block;
	border-top: 1px solid #3b3b3b;
	margin-top: 55px;
}

.ficha ul{
	padding: 0;
	text-align: left;
}

.ficha li{
	display: inline-block;
	color: #fff;
	font-family: lato;
	text-align: center;
	width: 100%;
	text-align: left;
	padding: 10px 55px;
	height: 45px;
	border-bottom: 1px solid #3b3b3b;
	font-size: 0.875em;
}

.ficha li b{
	text-transform: uppercase;
}

.ficha li strong{
	  font-weight: 400;
  	font-size: 16px;
}
.contentCarros .slideClass {
	margin:0 !important; 
}
.contentCarros .carousel-control{
	width: 60px;
	background-color: rgba(255, 255, 255, 0.2);
}

.contentCarros .carousel-control.left{
	left: 20px;
	background: transparent;
}
.contentCarros .glyphicon-chevron-left:before  {
	margin: 0 -40px;
}
.contentCarros .glyphicon-chevron-right:before{
	margin: 0;
}

.contentCarros .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
margin-right: 0; 
}

.controlCar{
	list-style: none;
	position: absolute;
	left: -50px;
	z-index: 99999;
}

.controlCar li{
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.4);
	margin: 20px 0;
	padding: 5px;
	width: 90px;
	transition:all .5s ease-in;
	-webkit-transition:all .5s ease-in; 
	-moz-transition:all .5s ease-in;
	-o-transition:all .5s ease-in;
	-ms-transition:all .5s ease-in;
}
.controlCar li.active,.controlCar li:hover {
	width: 120px;
	background: #333;
	color:#fff;	
	height: 60px;
}

.controlCar li a{
	color: #333;
	text-align: center;
	display: block;
}
.controlCar li:hover a, .controlCar li.active a{
	color: #fff;
}
.controlCar li:hover span, .controlCar li.active span{
	opacity: 1;
	font-size: 0.875em;
	line-height: 0;
	transition:all .5s ease-in;
	-webkit-transition:all .5s ease-in; 
	-moz-transition:all .5s ease-in;
	-o-transition:all .5s ease-in;
	-ms-transition:all .5s ease-in;
}

.controlCar li i{
	line-height: 0.6;
	font-size: 3em;
}


.controlCar li span{
	opacity: 0;
	text-transform: uppercase;
	display: block;
	line-height: 0.5;
}

.form-group {
	position: relative;
	padding: 0 25px;
}

.form-group label{
	font-family: lato;
	font-weight: 600;
	font-size: 1.2em;
	text-transform: uppercase;
}

.form-group input{
	box-shadow: none;
	padding-left: 41px;
	font-family: lato;
	font-weight: 300;
	height: 40px;
}

.contactIcon{
	position: absolute;
	top: 55px;
	font-size: 1.7em;
	left: 36px;
}

.SearchBox{
	display: inherit;
	height: 59px;
	padding: 0 15px;
	font-family: Lato;
	border: 0;
	background: #f9f9f9;
	color: #333;
	position: relative;
	right: -180px;
	z-index: 1;
		transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in; 
	-moz-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	visibility: hidden;
}

.SearchBox.active{
	right: 8px;
	visibility: visible;
}

.navbar-right {
	float: right !important;
	overflow: hidden;
	background: transparent;
}

.error_page{
	text-align: center;
	margin: 40px 0;
	background: url("../images/road.png");
	background-size: 100% 100%;
}
.error_page h1{
	text-transform: uppercase;
	font-size: 6em;
}
.error_page h2{
	font-size: 1.5em;
	font-family: lato;
}

.wp-pagenavi .pages, .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink{
	font-family: lato;
	background: #333;
	padding: 10px;
	border-radius: 4px;
	color: #fff;
	border: none;
}
.wp-pagenavi .current, .wp-pagenavi .page.larger, .wp-pagenavi .page.smaller{
	background: #fff;
	padding: 10px;
	border: 1px solid #e3e3e3;
	font-family: lato;
	border-radius: 4px;
	border: none;
}

.iconError{
	font-size: 5em;
	color: #f2f2f2;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	display: block;
}
.notFound{
	background: #fff;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 3px 1px rgba(0,0,0,0.2);
	font-size: 2rem;
	line-height: 1;
	border-radius: 8px;
	margin: 20px 0;
}

ol.results {
  counter-reset: li;
  list-style: none;
}
ol.results > li:before {
counter-increment: li;
content: counter(li) ' ';
color: #333;
font-size: 2em;
float: left;
background: #ffcc00;
padding: 10px;
width: 60px;
height: 60px;
text-align: center;
border-radius: 100%;
border: 3px solid #fff;
font-family: lato;
position: relative;
left: -31px;
top:-8px;
display: inline-block;
}
ol.results li{
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: block;
	text-shadow: 0px 3px 2px rgba(255,255,255,0.6);
	box-shadow: 0px 1px 1px rgba(255,255,255,1);
	vertical-align: top;
}

ol.results h2{
	font-family: lato;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1;
	margin: 40px 0 0 0;
}
ol.results p{
	line-height: 2;
}
ol.results li a{
	display: block;
	transition:all .3s;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
}

ol.results li a:hover{
	
	 transform:scale(1.1,1.1);
	  -webkit-transform:scale(1.1,1.1);
	   -moz-transform:scale(1.1,1.1);
	   -ms-transform:scale(1.1,1.1);
	   color: #333;
}
ol.results li{
		transition:all .3s;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
}
ol.results li:hover{
	 -ms-transform: translate(50px,0px); /* IE 9 */
   	-webkit-transform: translate(50px,0px); /* Chrome, Safari, Opera */
    transform: translate(50px,0px);
}
.resultPage strong{
	font-family: lato;
	font-weight: bold;
}

.cursosContent{
	font-family: Lato;
	width: 85%;
	margin: 0 auto;
}

.cursosContent .test{
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 3rem;
	}

	.cursosContent h3{
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		font-size: 1.2em;

	}

	.cursosContent ul{
		list-style-type: none;
		padding: 0;
	}

	.cursosContent ul li{
		background: #fff;
		padding: 20px;
		text-align: left;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		margin: 2px 0;
		font-size: 1em;
		font-weight: 300;
	}

	.cursosContent ul li:nth-child(even){
		background: #f9f9f9;
	}

	.cursosContent ul li b{
		display: block;
		font-size: 1.1em;
		text-transform: Capitalize;
	}
 .iconCur{
		text-align: center;
		display: block;
		font-size: 8em;
		color: #A9A9A9;
	}
	.cursosContent .iconCategory{
		display: inline-block;
		float: left;
		margin-right: 30px;
		font-size: 2em;
		border-radius: 100%;
		background: #e3e3e3;
		width: 40px;
		height: 40px;
		text-align: center;
		vertical-align: middle;
		padding-top: 6px;
		color: #8C8C8C;
	}

	.nav-justified {
	width: 100%;
	background: #fff;
	display: inline-block;
	}

	.western a{
		color: #0082DF;
	}

	.carImg img{
		max-height: 550px;
		margin:0 auto;
	}

@media screen and (max-width: 1024px){
	.navbar-nav > li > a {
	/*font-family: leandro;*/
	font-size: 12px;
	color: #707173;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	}
}

@media (min-width: 280px) and (max-width: 768px){
	.icons{
		display: none;
	}
	.contentCarros .carousel-control{
	width: 50px;
	background-color: rgba(0,0,0,0);
	}
	.controlCar{
		display: none;
	}

	.contentCarros .carousel-control.left{
	left: 30px;
	background: transparent;
	}
	.imgSede {
		display: none;
	}
	.nav.nav-pills > li {
		position: relative;
		display: inline-block;
		z-index: 99;
		width: 23%;
	}

	.levelCurso li{
		width: 49% !important;
	}
	
	.classCurso li a {
		font-family: lato;
		text-transform: uppercase;
		color: #000;
		font-size: 12px;
		margin-left: -10px;
	}

	.galCar > li {
		position: relative;
		display: inline-block;
		z-index: 99;
		width: 48% !important;
	}
	.nav-pills.galCar > li > a, .nav-pills.galCar > li > a:hover, .nav-pills.galCar > li > a:focus{
		font-size: 18px;
	}

	.sub-menu{
		display: none;
		background: #fff;
		text-align: center;
		width: 120px;
		position: relative;
		z-index: 10;
	}

	.totalCurso h3{
		font-size: 3em;
	}
	
	.error_page {
		background: transparent;
	}

	.infog {
		background: url("../images/infography.png") no-repeat 0 0;
		background-size: cover;
		padding: 40px 0;
		position: relative;
		bottom: 0px;
		height: 100%;
	}

	colCurs p {
		font-size: 2.625em;
		color: #666;
		font-family: 'dinpro-light';
		position: absolute;
		left: 10%;
		right: 30%;
		top: 25%;
		bottom: 25%;
		width: 80%;
		line-height: 1;
	}
	
	.automotores{
		font-size: 12px !important;
		padding: 5px;
	}


}



@media screen and (min-width: 280px) and (max-width: 640px){
	
	.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
  right: 17%;
  margin-right: -10px;
}

	.opinion {
  height: 515px;
  background: #fff;
  text-align: center;
  padding: 55px 0;
}

	.fullImg {

  	height: auto !important;
	}

	.sub-menu {
  display: none;
  background: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 10;
}
	.personalData {
	  background: #fff;
	  margin: 0px;
	}
	.opinion p {
  padding: 0 15px;
  font-size: 20px;
  font-family: lato;
}
	.colCurs .btn {
	position: absolute;
	color: #000;
	/*font-family: 'leandro';*/
	font-size: 1.188em;
	left: 7%;
	right: 30%;
	bottom: 10%;
	width: 50%;
	line-height: 0;
	}
	.navbar-nav > li > a {
/*font-family: leandro;*/
font-size: 1em;
color: #707173;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
}

.navbar-nav {
	background: #333;
	color: #f2f2f2;
}
.nav.navbar-nav.navbar-right{
	display: none;
}

.sub-menu li {
list-style-type: none;
display: block;
text-align: center;
margin-left: 0px;
border-bottom: 1px solid #e3e3e3;
padding: 10px 0;
text-align: left;
}

#menu-item-17:hover .sub-menu {
display: block;
width: 106%;
}

}

.iconTemp{
	background: #ffcb05;
	font-size: 4em;
	border-radius: 44px;
	-webkit-border-radius: 44px;
	-moz-border-radius: 44px;
	-ms-border-radius: 44px;
	padding: 10px;
	display: inline-block;
	margin: 20px 0;
}

.center{
	text-align: center;
}

.returnH{
	width: 250px;
	margin: 0 auto;
}
.succesBuy,.errorBuy{
	margin: 20px 0;
}
.succesBuy h3, .errorBuy h3{
	font-family: lato;
	text-transform: uppercase;
}

.iconSucess{
	background: #4CD314;
padding: 20px;
color: #fff;
border-radius: 50%;
font-size: 2em;
margin: 20px 0;
}

.iconErrorbuy{
	background: #F42222;
padding: 20px;
color: #fff;
border-radius: 50%;
font-size: 2em;
margin: 20px 0;
}
.itemBuy{
	background: #fff;
	padding: 15px 45px 30px;
	border-radius: 15px;
	text-align: center;
	border: 1px solid #ccc;
}

.itemBuy .Price{
  font-family: lato;
  font-size: 2.4em;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  background: #e3e3e3;
  padding: 12px;
  margin-bottom: -10px;
}

.itemBuy .descripBuy{
	text-align: left;
  font-size: 1.2em;
  font-family: lato;
  color: #6E6E6E;
}
.itemBuy h2{
	font-family: lato;
	text-transform: uppercase;
	font-size: 1.2em;
}

.personalData{
	border:1px solid #ccc;
	overflow: hidden;
	margin: 0 0 20px;
	padding: 25px;
	border-radius: 15px;
	background: #fff;
}

.wayTo{
	display: block;
}

.formaPay{
	display: inline-block;
	margin-left: 20px;
}

.personalData .form-group input {
	box-shadow: none;
	padding-left: 12px;
	font-family: lato;
	font-weight: 300;
	height: 40px;
	background: #f3f3f3;
}

.resumenBuy{
	margin-bottom: 25px;
}

.blockBtn{
	display: inline-block;
margin-left: 25px;
}

.fullW{
	background: #f3f3f3;
	width: 100%;
	height: 38px;
	border: 1px solid #ccc;
}

.quarterW{
	width: 32%;
		background: #f3f3f3;
	height: 38px;
	border: 1px solid #ccc;
}

.title_Buy{
text-align: left;
  background: #ffcc00;
  padding: 10px;
  border-radius: 15px;
  width: 95%;
}

.step h3{
  font-family: lato;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;  
}

.step .form-group {
  position: relative;
  padding: 0 25px;
  display: inline-table;
  margin: 20px 0 0 0;
}
.conditions{
	text-align: left;
}
.validating, .saving{
	display: none;
	font-size: 14px;
	color: #666;
	padding-left: 15px;
}
.form-group label.error-form{
	color: #FF0000;
	font-size: 12px;	
	text-transform: none;
}
.captcha_code{
	margin-top: 10px; 
	display: block;
}
.captcha_link{
	padding-left: 10px;
	font-size: 12px;
}
.fullW, .quarterW{
	color: #555;
}
.btn_cancelar{
	background-color: #E3E3E3;
}
#profesores .carousel-control.left{
	left: -33px;
}
.pago{
	margin-bottom: 11%;
}
#detalles-curso{
	display: none;
}
.automotores{
	margin: 30px 0 15%;
	font-size: 17px;
}
.automotores tr th{
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
}
.automotores tr td{
	padding: 10px;
}
@media screen and (max-width:768px){
	.colCall p {
  padding: 10% 0 !important;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
}
}

@media screen and (max-width: 1024px){
	.opinion p {
  padding: 0 30px;
  font-size: 20px;
  font-family: lato;
}

.colNews h2 {
  color: #fff;
  /*font-family: leandro;*/
  text-transform: uppercase;
  font-size: 1.28em;
  padding: 14px 30px;
  vertical-align: TOP;
  line-height: 1;
  width: 82%;
}
}