/*desarrollador por Cristia Hernandez 2015*/

@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass";
@import "compass/css3/border-radius";
@import "compass/utilities";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/font-face";

/*=======colors=======*/

$a_amarillo:			#ffcd00;


/*=======colors-end=======*/

/*=======fonts=======*/

@import "../fonts/font.css";
@import "../font2/stylesheet.css";

/*=======fonts-end=======*/

/*=======BorderRadius=======*/

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}

/*=======BorderRadius-end=======*/

/*=======Media=======*/

/*=======Media-end=======*/

/*=======Artefactos=======*/

%bg-basic {
	background: {
		repeat: no-repeat;
		position: center center;
		color: transparent;
		size: 100%;
	}
}
%after-before-bas {
	position: absolute;
	content: " ";
}
%ab-100 {
	@extend %after-before-bas;
	width: 100%;
}
%titular {
	text-transform: uppercase;
	color: white;
	strong { display: block;}
}

/*=======Artefactos-end=======*/


@media only screen and (max-width: 1280px) {
	body {
		.c_content {
			.c_denuncia {
				.denuncias { 
					min-height: 22em;
					li {
						span { top: 1.5em;}
					}
				}
			}
		}
		footer {
			.dummy {
				img { max-width: 12.5em}
			}
			.operador {
				p {
					font-size: 1em;
				}
			}
		}
	} 
}

@media only screen and (max-width: 991px) {
	body {
		.c_form_pagar {
			.c_logs {
				.c_logsIn {
					> div {
						margin-bottom: 2em;
						&:last-child { margin-bottom: 0;}
					}
					p { 
						text-align: center;
						margin: 0;
					}
				}
			}
		}
	}
}


/*=======Genericos=======*/

body {
	.container-fluid>.navbar-header,
	.navbar { margin: 0;}
}


.c_form_prin {
	background-color: #f2f2f2;
	font: {
		family: '14359-webfont';
		size: 15px;
	}
	* { @include box-sizing(border-box);}
	nav,
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	a, a:link { display: inline-block;}
	h1, h2, h3, h4, h5, h6 { margin-top: 0;}
	p { 
		margin-top: 0;
		line-height: 150%;
	}
	.c_cerrar {
		@include hide-text(left);
		@extend %bg-basic;
		@include border-radius(1em 1em 0 0);
		width: 4em;
		height: 4em;
		background-image: url(../svg/close.svg);
		background-size: 70%;
		position: fixed;
		top: -100%;
		right: 1em;
		cursor: pointer;
		z-index: 5;
	}
	.container-fluid { padding: 0;}
}

.mob { display: none;}

.c_form_pagar {
	.row { 
		clear: both;
		text-align: center;
		margin: 0;
	}
	.breadcrumb {
		span { text-transform: uppercase;}
	}
	.fullImg { padding: 0;}
	.c_logs {
		background: $a_amarillo;
		text-align: center;
		padding: 2em 0;
		.c_logsIn {
			float: none;
			display: inline-block;
			> div {
				&:first-child { text-align: right;}
				&:last-child { text-align: left;}
				p { text-transform: uppercase;}
				a, a:link {
					background: {
						size: 2em;
						position: 1em center;
						repeat: no-repeat;
					}
					color: white;
					margin-top: 0.5em;
					padding: 1em 1em 1em 4em;
					min-width: 18em;
					text-align: left;
				}
				.c_fb {
					background-color: #23589a;
					background-image: url(../svg/fb.svg);
				}
				.c_iniciar {
					background-color: #86b100;
					background-image: url(../svg/user.svg);
				}
			}
		}
	}
	.c_formIn {
		width: 75%;
		display: inline-block;
		margin: auto;
		float: none;
		text-align: left;
		.titleBlog { 
			font-size: 2em;
			margin: 2em 0 1em;
			padding-left: 0;
		}
		.form-group {
			padding: 0;
			* { font-family: '14359-webfont';}
		}
		.c_check {
			* {
				display: inline-block;
				vertical-align: middle;
				height: initial;
			}
			label {
				font-size: 1em;
				margin: 0 0 0 0.5em;
				font-weight: 100;
				text-transform: inherit;
			}
		}
		.wpcf7-submit { padding: 1em 0;}
	}
}


footer {
	.row { margin: 0;}
	.endFoot {
		margin: 0;
		padding: 1em;
	}
	.contentF { 
		vertical-align: top;
		p { font-family: "gothamlightregular";}
	}
}