@font-face {
  font-family: '14359-webfont';
  src: url('14359-webfont.eot');
  src: url('14359-webfont.eot?#iefix') format('embedded-opentype'),
       url('14359-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothic-DemiCond';
  src: url('FranklinGothic-DemiCond.woff') format('woff'),
       url('FranklinGothic-DemiCond.ttf') format('truetype'),
       url('FranklinGothic-DemiCond.svg#FranklinGothic-DemiCond') format('svg');
  font-weight: normal;
  font-style: normal;
}

